---
import Layout from '../layouts/Page.astro';

const seo = {
  title: "Astro Minimal Starter",
  description: "This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support."
}
---

<Layout seo={seo}>
  <div class="text-center h-96 bg-red-50">
Footsteps
  
  </div>
</Layout>
