---

---

<div class="bg-red-900 py-4 sm:py-8">
    <h1 class="text-center text-white py-6 text-3xl ">Why Choose Thobo</h1>
    <p class="text-center text-white max-w-72 px-12">As I work with leaders from organizations in the corporate world, small businesses, associations and all levels of
        government, what I consistently see is a collective desire to respond to on-going change and disruption with less
        struggle and anxiety.</p>

</div>