---

---
<div class="bg-slate-100 py-8">
    <h1 class="text-6xl text-center text-blue-900 py-2">Talk <span class="text-red-900">To </span>Tobo</h1>
    <div class="flex">
        <h1 class="text-red-900 text-7xl max-w-lg text-align-left mr-28">Make success your middle name</h1>
        <img src="/assets/HeroImage.png" alt="" class="h-72 w-72">
    </div>
    <p class="text-blue-900">Do you want to change your life? Take the first step by clicking the button below</p>
    <a href="/contact">
    <!-- <button class="rounded-xl py-4 px-4 bg-red-900 text-white hover:bg-red-700">Book a session</button> -->
    </a>
 
</div>
